body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .sidebar {
    width: 263px;
    background-color: #f3f3f3;
    height: 100vh;
    padding: 32px 40px;
    box-sizing: border-box;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .logo img {
    margin-right: 10px;
  }
  
  .logo span {
    font-size: 21px;
    font-weight: 700;
    color: #1a1a1a;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    color: #9e9e9e;
    cursor: pointer;
  }
  
  .menu-item svg {
    margin-right: 20px;
  }
  
  .menu-item span {
    font-size: 14px;
    line-height: 21px;
  }
  
  .menu-item.active span {
    color: #6154f0;
    font-weight: 600;
  }
  
  .active-dot {
    width: 10px;
    height: 10px;
    background-color: #6154f0;
    border-radius: 50%;
    margin-left: auto;
  }
  
  