.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ff80ab;
}

/* Center logo and CryptX on the same line */
.logo-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin-bottom: 30px;
}

.logo {
  width: 60px;
  height: auto;
  margin-right: 10px; 
}
.logo-text {
  font-size: 24px; 
  font-weight: bold;
  color: #333; 
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
}

 